<form [formGroup]="userInfo">
    <label for="firstName">First Name:</label>
    <input type="text" formControlName="firstName" name="firstName" />
    <label for="lastName">Last Name:</label>
    <input type="text" formControlName="lastName" name="lastName" />
    <label for="firstName">E-mail:</label>
    <input type="text" formControlName="email" name="email" />
    <label for="email">Password:</label>
    <input type="password" formControlName="password" name="password" />
    <button type="submit" [disabled]="!userInfo.valid">Submit</button>
</form>